<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- >>> KCH 2023/FEB/04 IOS Web view 설정 -->
    <!-- 흰색 화면만 나오는 현상 방지 -->
    <key>io.flutter.embedded_views_preview</key>
    <string>YES</string>

    <!-- http 보안 문제로 default로 막아두지만 허용시킴으로써 흰 화면 나오는 현상 방지 -->
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key> <true/>
      <key>NSAllowsArbitraryLoadsInWebContent</key> <true/>
    </dict>

    <!-- 지도상에 내 위치를 허용해준다 -->
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Used to Location&apos;s Info always for Using Beacon.</string>

    <key>NSLocationAlwaysUsageDescription</key>
    <string>Used to Location&apos;s Info always for Using Beacon.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Used to Location&apos;s Info for Using Beacon when In Use.</string>
    <!-- <<< KCH 2023/FEB/04 IOS Web view 설정 -->

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Inform Parking Flutter Webview</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>inform_parking_flutter_webview</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
