<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="memberDto" type="com.inpark.dto.MemberDto"/>
        <typeAlias alias="parkingDto" type="com.inpark.dto.ParkingDto"/>
        <typeAlias alias="compParkingDto" type="com.inpark.dto.CompParkingDto"/>
        <typeAlias alias="adminParkingDto" type="com.inpark.dto.AdminParkingDto"/>
        <typeAlias alias="payDto" type="com.inpark.dto.PayDto" />
    </typeAliases>
</configuration>