.home_html{
    height: 100%;
    width: 100%;
}
.home_body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

.left-top-layout{
    position: relative;
    height: 130px;
    width: 390px;
    background-color: #258fff;
}

.left-top-header{
    position: relative;
    height: 130px;
    padding: 20px 20px 2px;
    overflow: hidden;
}

.brand-title{
    display: block;
    font: initial;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 5px 0 21px 36px;
    width: 150px;
}

.user-inform-button{
    position: absolute;
    left: 17px;
    top: 23px;
    right: 351px;
    bottom: 71px;
    padding:0px;
    border: none;
    width: 22px;
    height: 22px;
    background-color: #258fff;
    overflow: hidden;
    cursor:pointer;
}

.modal{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

@media {
    .modal-dialog {
        height: 100%;
        margin: 0;
    }
}

.modal-content{
    width: 302px;
    height: 100%;
}

.modal-header{
    width: 300px;
}

.modal-body{
    height: 100%;
}

.user-inform-dropdown img{
    max-height: 62px;
}

.keyword-search-form{
    position: relative;
}

.keyword-search-fieldset {
    position: relative;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
}

.searchbar{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    height: 40px;
    width: 350px;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 1px 0 darkgray;
}

.keyword-searchBar{
    padding : 14px 16px 13px;
    float:left;
    width: 295px;
    height: 40px;
    border: none;
    font-size: 16px;
    outline: 0;
}

input::placeholder{
    color:darkgray;
}

.search_button{
    overflow: hidden;
    width: 35px;
    height: 35px;
    background-color: white;
    border : none;
    padding: 3px 0 0 15px;
    cursor: initial;
}

.offmouse{
    max-height: initial;
    margin-top: -120px;
    margin-left: -8px;
}

.onmouse{
    max-height: initial;
    margin-top: -120px;
    margin-left: -48px;
}

.search_button img.onmouse{
    display: none;
}

.search_button:hover img.offmouse{
    display: none;
}

.search_button:hover img.onmouse{
    display: block;
}

.left-bottom-layout{
    position: absolute;
    width: 390px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 130px;
}

.map-view{
    position: absolute;
    bottom: 0;
    left: 390px;
    right: 0;
    top: 0;
}
