.home_html{
    height: 100%;
    width: 100%;
}

.home_body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

a:link{
    text-decoration-line: none;
    color: black;
}

a:visited{
    text-decoration-line: none;
    color: black;
}

a:hover{
    text-decoration-line: underline;
}

a:active{
    text-decoration-line: underline;
}

textarea:active, textarea:focus, input:active, input:focus,
.btn:active, .btn:focus,
.btn_close:active, .btn_close:focus{
    outline: none !important;
    box-shadow: none !important;
}

.left-top-layout{
    position: relative;
    height: 160px;
    width: 390px;
    background-color: #258fff;
}

.left-top-header{
    position: relative;
    height: 130px;
    padding: 20px 20px 5px;
    overflow: hidden;
}

.brand-title{
    display: block;
    font: initial;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 5px 0 21px 36px;
    width: 200px;
}

#move-my-pos{
    position: absolute;
    left: 314px;
    top: 30px;
    font-size: 12px;
    color: ghostwhite;
}

.user-inform-button{
    position: absolute;
    left: 17px;
    top: 23px;
    right: 351px;
    bottom: 71px;
    padding:0px;
    border: none;
    width: 22px;
    height: 22px;
    background-color: #258fff;
    overflow: hidden;
    cursor:pointer;
}

.canvas-top-ul{
    line-height: 40px;
    font-size: 17px;
}

.usr-inform-body{
    font-size: 17px;
    line-height: 35px;
    padding-left: 15px;
}

.usr-inform-footer{
    font-size: 14px;
    line-height: 24px;
    padding-left: 15px;
    text-align: left;
}

.user-inform-dropdown img{
    max-height: 62px;
}

.keyword-search-form{
    position: relative;
}

.keyword-search-fieldset {
    position: relative;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
}

.searchbar{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    height: 40px;
    width: 350px;
    border-radius: 3px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 1px 0 darkgray;
}

.keyword-searchBar{
    padding : 14px 16px 13px;
    float:left;
    width: 295px;
    height: 40px;
    border: none;
    font-size: 16px;
    outline: 0;
}

input::placeholder{
    color:darkgray;
}

.search_button{
    overflow: hidden;
    width: 35px;
    height: 35px;
    background-color: white;
    border : none;
    padding: 3px 0 0 15px;
    cursor: initial;
}

.offmouse{
    max-height: initial;
    margin-top: -120px;
    margin-left: -8px;
}

.onmouse{
    max-height: initial;
    margin-top: -120px;
    margin-left: -48px;
}

.search_button img.onmouse{
    display: none;
}

.search_button:hover img.offmouse{
    display: none;
}

.search_button:hover img.onmouse{
    display: block;
}

#login-activate{
    position: absolute;
    top: 125px;
    width: 100%;
}

.login-activate-text{
    font-size: 15px;
    height: 100%;
    color: white;
    margin : 5px 0 10px 17px;
}

/*주차장 정보 표시 레이아웃*/
.left-bottom-layout{
    position: absolute;
    width: 390px;
    bottom: 20px;
    left: 0;
    right: 0;
    top: 160px;
}

.HIDDEN{
    display: none;
}

.left-bottom-main{
    position: absolute;
    width: 390px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 10px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.left-bottom-main::-webkit-scrollbar{
    display: none;
}

#left-bottom-main-markerNonClick-text{
    position: absolute;
    top: 290px;
    left: 60px;
    font-weight: bold;
    font-size: 15px;
}

#parking-basic-info{
    position: absolute;
    border-bottom: 1px solid lightgray;
    top: 0;
    width: 100%;
    height: 102px;
}

#parking-name-text{
    height: 30px;
    font-size: 20px;
    margin: 10px 0 0 17px;
}

#parking-addr-text{
    height: 25px;
    font-size: 15px;
    margin: 10px 0 0 17px;
}
#parking-phone-text{
    height: 20px;
    font-size: 15px;
    color: lightslategray;
    margin: 0 0 5px 17px;
}

#parking-operating-time{
    position: absolute;
    border-bottom: 1px solid lightgray;
    top: 102px;
    width: 100%;
    height: 215px;
}

#parking-sub-info{
    height: 50px;
    font-size: 17px;
    margin: 15px 0 0 17px;
    line-height: 25px;
}

#time-list{
    padding:20px 0 0 30px;
    font-size: 17px;
    line-height: 40px;
}

.parking-price-info{
    position: absolute;
    top: 317px;
    width: 100%;
}

.parking-price-list{
    height: 25px;
    font-size: 15px;
    margin: 10px 0 0 17px;
}

#non-pay-text{
    position: absolute;
    top: 130px;
    left: 35px;
    font-weight: bold;
    font-size: 15px;
}

.custom-button{
    width: 370px;
    left: 10px;
}

#day-buy-button{
    position: absolute;
    top: 190px;
    width: 180px;
}

#month-buy-button{
    position: absolute;
    top: 190px;
    left: 199px;
    width: 180px;
}

#nav-road-button{
    position: absolute;
    top: 230px;
}

/*주차장 푸터 레이아웃*/
.left-bottom-footer{
    position: absolute;
    background-color: whitesmoke;
    width: 390px;
    height: 20px;
    border-top: 1px solid darkgray;
    font-size: 10px;
    left: 0;
    bottom: 0;
}

#footer-text{
    margin: 2px 0 0 70px;
}

/*토스트 처리*/
#toast-div{
    position: absolute;
    background-color: whitesmoke;
    right: 20px;
    bottom: 30px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

/* 맵 정보 표시 레이아웃*/
.map-view{
    position: absolute;
    bottom: 0;
    left: 390px;
    right: 0;
    top: 0;
}

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
}

.toast-container{
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 10px;
}

#spinner-content{
    display: flex;
    justify-content: center;
    margin-top: 50vh;
}

@media only screen and (max-width: 576px){
    .home_html{
        height: 100%;
        width: 100%;
    }

    .home_body{
        margin:0;
        padding:0;
        height: 100%;
        width: 100%;
    }

    .left-top-layout{
        position: absolute;
        height: 160px;
        width: 100%;
    }

    .map-view{
        position: absolute;
        top: 160px;
        height: 400px;
        left: 0;
    }

    .left-bottom-layout{
        position: absolute;
        width: 100%;
        top: 560px;
        height: 500px;
    }

    .left-bottom-main{
        position: absolute;
        width: 100%;
        left: 0;
        overflow: scroll;
    }

    #left-bottom-main-markerNonClick-text{
        position: absolute;
        top: 20px;
    }

    .left-bottom-footer{
        position: absolute;
        top: 1070px;
        width: 100%;
    }

    .toast-container{
        position: absolute;
        top: 870px;
        bottom: unset;
        left: unset;
        right: 20px;
        padding: unset;
    }

    .btn:hover{
        background-color: #0d6efd;
    }

    .search_button:hover img.onmouse{
        display: none;
    }

    .search_button:hover img.offmouse{
        display: unset;
    }

    #move-my-pos{
        text-decoration-line: none;
    }

    #spinner-content{
        display: unset;
        position: absolute;
        margin-top: unset;
        justify-content: unset;
        left: 47vw;
        top: 190px;
    }
}