.container-join{
    width : 100%;
}

.input-group-text{
    height:38px;
}

.input-group{
    display: flex;
    width: 330px;
    height: 38px;
}

.btn{
    width: 330px;
}

.error{
    font-size: 12px;
    height: 30px;
    color: red;
    font-weight: 700;
    margin-left: 45px;
}



@media only screen and (max-width: 576px){
    .container-join{
        width: 100%;
        padding: 0;
    }

    .btn{
        width: 100%;
    }

    .input-group{
        display: flex;
        width: 100%;
        height: 38px;
    }

    .remove-attr{
        width: 100%;
    }
}